.accordion {
    width: 500px;
}

.accordion .header {
    background: #ddd;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion .header h4 {
    margin: 0;
    padding: 20px 0;
}

.accordion .header span {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    background: #eee;
    padding: 0 10px;
}

.accordion-body.open {
    height: 100px;

}