.accordion {
    width: 500px;
}

.accordion .header {
    background: #ddd;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion .header h4 {
    margin: 0;
    padding: 20px 0;
}

.accordion .header span {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    background: #eee;
    padding: 0 10px;
}

.accordion-body.open {
    height: 100px;

}

.modal {
    width: 500px;
    background: #eee;
    border-radius: 8px;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: none;
}

.modal.open {
    display: block;
}

.modal .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 20px;
}

.loader {
    border: 2px solid black;
    width: 250px;
    padding: 2px;
    position: relative
}

.loader h4 {
    position: absolute;
    left: 20px;
    top: 12px;
    margin: 0;
}

.loader .percentage {
    width: 45%;
    height: 38px;
    background: orange;
}

.vinyl {
    width: 417px;
    height: 336px;
    background-image: url('../vinyl_bg.png');
    position: relative;
}

.vinyl .disk {
    position: absolute;
    top: 24px;
    left: 28px;
    z-index: 2;
}

.vinyl .arm {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.vinyl .knob1 {
    position: absolute;
    bottom: 50px;
    right: 32px;
    z-index: 4;
}

.vinyl .knob2 {
    position: absolute;
    bottom: 40px;
    right: 70px;
    z-index: 4;
}
